.parent {
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 10vh;
  margin-bottom: 10px;
  border-radius: 8px;
}

.h1 {
  background: tomato;
  margin: 25;
}
